<?xml version='1.0' encoding='utf-8'?>
<widget id="com.EchoSierraStudio.Amsterdam_Public_Toilets" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Amsterdam Public Toilets</name>
    <description>
        Interactive chart showing public toilets in the city center of Amsterdam. 
        The chart also shows your current location for easy navigation. 
        This app also loads in a small offline map (only about ~4.3MB), so you don't have to worry about your internet connection when you install this app on your device.
    </description>
    <author email="polyismstudio@gmail.com" href="https://esstudio.site/">
        Sem Postma
    </author>
    <content src="browser-sync-start.html" />
    <access origin="*" />
    <allow-navigation href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html" />
    <allow-navigation href="https://esstudio.site/*" />
    <allow-navigation href="https://esstudio.site" />
    <allow-navigation href="mailto:polyismstudio@gmail.com" />
    <allow-navigation href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="StatusBarBackgroundColor" value="#2d7676" />
    <preference name="orientation" value="portrait" />
    <preference name="SplashScreen" value="images/logo.png" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="500" />
    <preference name="SplashScreenBackgroundColor" value="#3c6666" />
    <preference name="SplashScreenWidth" value="256" />
    <preference name="SplashScreenHeight" value="256" />
    <allow-navigation href="*" />
</widget>
