<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">About</div>
    </ons-toolbar>
    <div style="padding: 10px;">
        <h1>About</h1>
        <p>
            Interactive chart showing public toilets in the city centre of amsterdam. 
            The chart also shows your current location for easy navigation. 
            This app also loads in a small offline map (only about ~4.3MB), 
            so you don't have to worry about your internet connection when you install this app on your device.
        </p>
        <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
        <br>
        <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
        <br>
        <a href="mailto:polyismstudio@gmail.com?subject=Public%20Toilets%20Amsterdam&amp;body=Uw%20bericht." target="_top">Stuur Email</a>
        <br>
        <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
        <br> Icons made by Smashicons is licensed by CC 3.0 BY
    </div>
</ons-page>