<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">About</div>
    </ons-toolbar>
    <div style="padding: 10px;">
        <h1>About</h1>
        <p>
            Interactive chart showing public toilets in the city centre of amsterdam. 
            The chart also shows your current location for easy navigation. 
            This app also loads in a small offline map (only about ~4.3MB), 
            so you don't have to worry about your internet connection when you install this app on your device.
        </p>
        <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
        <br>
        <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
        <br>
        <a href="mailto:polyismstudio@gmail.com?subject=Public%20Toilets%20Amsterdam&amp;body=Uw%20bericht." target="_top">Stuur Email</a>
        <br>
        <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <br> Data by <a href="https://www.dataplatform.nl/dataset/a540f211-c79c-4ab7-af5b-bc4b9a743710">Dataplatform NL</a> is licensed by CC-BY 4.0
    </div>
</ons-page>